.Wish {
  .mainWish {
    width: 500px;
    display: flex;
    gap: 20px;
    border: 1px solid rgb(94, 93, 93);
    padding: 10px 20px;
    transition: 0.2s ease;

    .wishContainer {
      display: flex;
      align-items: center;
      gap: 20px;

      .leftPart {
        flex: 1;

        .productImage {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }

      .rightPart {
        h1 {
          font-size: clamp(20px, 4vw, 30px);
        }
      }
    }

    .crossPart {
      display: flex;
      gap: 10px;
      font-size: 40px;

      .crossItem {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .Wish {
    .mainWish {
      width: 100%;
      padding: 10px;

      .rightPart {
        h1 {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  // .Wish{
  //     .mainWishList{
  //         // wi
  //     }
  // }
}
