.Wish{

    .mainWishList{
        width: 500px;
        display: flex;
        gap: 20px;
        border: 1px solid rgb(94, 93, 93);
        padding: 20px;

        .wishListContainer{
            display: flex;
            align-items: center;
            gap: 20px;

            .leftPart{
                flex: 1;

                .productImage{
                    width: 100%;

                    img{
                        width: 100%;
                    }
                }

            }

            .right{
                flex: 1;
            }
        }

        .crossPart{
            display: flex;
            gap: 10px;

            font-size: 40px;
        }
    }
}