.Wish{
    .mainWishList{
        width: 500px;
        display: flex;
        gap: 20px;
        border: 1px solid rgb(94, 93, 93);
        padding: 20px;

        .wishListContainer{
            display: flex;
            align-items: center;
            gap: 20px;

            .leftPart{
                flex: 1;

                .productImage{
                    width: 100%;

                    img{
                        width: 100%;
                    }
                }

            }

            .rightPart{
                 h1{
                    font-size: 25px;
                 }
            }
        }

        .crossPart{
            display: flex;
            gap: 10px;
            font-size: 40px;
        }
    }
}

@media (max-width:768px){
    .Wish{
        .mainWishList{
            width: 350px;
            padding: 10px;

            .rightPart{
                 h1{
                    font-size: 20px;
                 }
            }
        }
    }
}