.WishList{
    width: 80%;
    margin: 20px auto;
    padding: 20px 40px;

    .title{
        margin: 20px 0px;
    }
    .wishListContainer{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 40px 10px;
    }

         
}