.HBanner{
    width: 100%;
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        text-align: center;
        font-family: Arial;

        .HHeading{
            font-size: 50px;
        }
    }
}

@media (max-width:780px) {

    .HBanner{
    width: 100%;
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        text-align: center;
        font-family: Arial;
    }
}
    
}