.HBanner{
    width: 100%;
    padding:40px;

    .container1{
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        text-align: center;
        font-family: Arial;

        .Hheading{
            font-size: 40px;
            letter-spacing: 2px;
        }

        .description{
            letter-spacing: 2px;
            margin-top: 10px;
        }
    }
}

@media (max-width:780px) {

    .HBanner{
    width: 100%;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container1{
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        text-align: center;
        font-family: Arial;

        .Hheading{
            font-size: 30px;
            letter-spacing: 2px;
        }
    }
}
    
}

@media (max-width:480px){
    .HBanner{
        padding: 10px;

        .container1{
            padding: 20px;
            .Hheading{
                font-size: 20px;
                letter-spacing: 1px;
            }
        }
    }
}