.CreateUserAccount{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--BackgroundColor2);
    gap: 40px;

    .createUserContainer{
        width: 50%;
        min-width: 350px;
        flex-direction: column;

        
        .title{
            width: 100%;
            font-size: 1.2rem;
            font-weight: 300;
            padding: 20px 0;            
        }
        
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2{
                text-align: center;
            }
        }

        p{
            margin-top: 20px;
        }
    }

    .image{
        padding: 20px 0;
        overflow: hidden;
        cursor: pointer;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .3s ease;

            &:hover{
                transform: scale(1.01);
            }
        }
    }
}

@media  screen and (max-width:768px) {
    .CreateUserAccount{
        padding: 20px;

        .createUserContainer{
            width: 90%;

        }

        .image{
            display: none;
        }
    }  
}