.Login{
    width: 100%;
    padding: 40px;

    .loginContainer{
        width: clamp(350px,60vh,500px);
        flex-direction: column;
        gap: 20px;
        padding: 40px;
        background-color: var(--BackgroundColor);
        margin: 0 auto;
        transition: .2s ease;

        .title{
            width: 100%;
            font-size: 1.2rem;
            font-weight: 300;            
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2{
                text-align: center;
            }
        }
    }
}

@media (max-width:768px){
    .Login{

        .loginContainer{
            width: 350px;
            transition: .2s ease;

        .title{
            width: 100%;
            font-size: 1.2rem;
            font-weight: 300;            
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 10px;

            input{
                width: 100%;
            }

            h2{
                text-align: center;
            }
        }
        }
    }
}


@media (max-width:480px){
    .Login{
        padding: 40px 20px;

        .loginContainer{
            width: 300px;
            padding: 20px;
        }
    }

}