.Home{
    margin: 0;

    .collection{

        .info{
            flex-direction: column;
            padding: 20px 10px;
        }
    }

    .content{
        display: flex;

        .cont1{
            flex: 1;
        }
        .cont2{
            flex: 1;
        }
        
    }
}