.Product{
    width: clamp(270px, 46vw, 370px);
    height: clamp(450px, 60vw, 520px);
    background-color: var(--BackgroundColor);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    .PTop{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: end;

        .wishList{
            color: rgb(54, 53, 53);
        }
    }

    .productImgCont{
        flex: 1;
        overflow: hidden;

    }


    .PBottom{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: start;

        h2{
            font-size:20px;
            font-weight: 400;
            align-self: center;
        }

        p{
            margin-top: 5px;
            font-size: 13px;
            align-self: center;
        }
    }

    &:active{
        border: 1px solid black;
    }

}

@media (max-width: 768px) {}
@media (max-width: 480px) { /* small phones */ }
