.ProductImage{
    height: 100%;
    padding: 5px;
    background-color: var(--BackgroundColor);
    cursor: pointer;
    overflow: hidden;
    .pImg{
        height: 100%;
        overflow: hidden;

        img{
            height: 100%;
            object-fit: cover;
        }
    }
}