.ProductImage{
    padding: 20px 10px;
    background-color: var(--BackgroundColor);
    cursor: pointer;
    .pImg{
        padding:0 ;
        display: flex;
        justify-content: center;
        align-items: baseline;

        img{
            width: 100%;
            object-fit: cover;
        }
    }
}