.Footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--footerBgColor);
    color: #fff;
    margin-top: 40px;

    .FTop{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 40px 20px;
        border-bottom: 1px solid #fff;

        .services{
            padding: 10px;

            h2{
                font-size: 30px;
                text-transform: uppercase;
                margin: 10px 0px;
            }

            p{
                margin-bottom: 5px;
            }
        }

        .SocialLinks{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;

            .socialMedia{
                display: flex;
                gap: 10px;
            }
        }
    }

    .FBottom{
        padding: 20px 40px;

        h1{
            font-size: 14px;
            font-weight: 100px;
        }
    }
}

@media (max-width:768px){
    .Footer{
        .FTop{
            display: block;
            padding: 20px 10px;

            .services{
                padding: 5px;
                border-bottom: 1px solid silver;

                h2{
                    transition: .2s;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
            .ppp{
                display: none;
            }

            .pdis{
                display: block;
            }

            
        .SocialLinks{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 10px;

            h1{
                font-size: 15px;
            }

            .socialMedia{
                display: flex;
                gap: 10px;
            }
        }
        }
        .FBottom{
        padding: 10px 20px;

        h1{
            font-size: 11px;
            font-weight: 100;
        }

        }
    }
}