*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root{
  --BackgroundColor:#f3ededd9;
  --BackgroundColor2:#f3eded;
  --footerBgColor:rgba(20, 20, 20, 0.953);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hoverLink{
  all: unset;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #1a1919ef;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.hoverLink2{
  all: unset;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: #1a1919ef;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.hoverLink2:hover{
  color: #1a1919ef;
  background-color: #fff;
}

.hoverLink:hover{
  background-color: #1a1919ef;
  color: #f3eded;
}

.hoverLink:active{
  background-color: black;
}

.hoverLink2:active{
  background-color: rgb(255, 255, 255);
}

.RouteLink{
  all: unset;
  cursor: pointer;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputStyle{
  padding: 8px 16px;
  font-size: 1.2rem;
}