*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root{
  --BackgroundColor:#f3ededd9;
  --BackgroundColor2:#f3eded;
  --footerBgColor:rgb(18, 17, 17);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hoverLink{
  all: unset;
  width: 100px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #1a1919d9;
  cursor: pointer;
}