.SingleProductDetail{
    width: 100%;
    margin-top: 20px;
    .SProductContainer{
        width: 80%;
        display: flex;
        gap: 20px;

        .left-part{
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // background-color: aqua;
        }

        .right-part{
            width: 35%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .info{
                border-bottom: 1px solid rgb(157, 157, 157);

            }

            .productDetails{
                border-bottom: 1px solid rgb(157, 157, 157);
                h2{
                    font-size: 20px;
                }
            }
             
                h2{
                    font-size: 25px;
                    margin: 10px 0px;
                }
                p{
                    margin-bottom: 10px;
                }
        }
    }
}

@media (max-width:760px){
    .SingleProductDetail{
        .SProductContainer{
            display: block;

            .left-part{
                width: 100%;
            }

            .right-part{
                width: 100%;
            }
        }
    }
}